<%- include('../../partials/head') %>
<%- include('../../partials/header') %>

<% if (examStatus == 'passed') { %>
    <div class="ta-c mt-100_50 fs-40 fc-green"><i class="fa-regular fa-circle-check"></i></div>
    <div class="ta-c m-a mt-20 fs-25_20 fc-green max-w-90p">¡FELICITACIONES! has aprobado el examen</div>
<% } else { %>
    <div class="ta-c mt-100_50 fs-40 fc-error"><i class="fa-regular fa-circle-xmark"></i></div>
    <div class="ta-c m-a mt-20 fs-25_20 fc-error max-w-90p" >Lo sentimos, no has aprobado el examen</div>
<% } %>

<div class="fs-15 ta-c mt-25 mb-30">Respuestas correctas: <%= correctAnswers + ' / ' + questionsQty %></div>

<% if (examStatus == 'not-passed') { %>
    <div class="fs-15 ta-c mt-10">Necesitas <%= answersToPass %> respuestas correctas para aprobar</div>
<% } %>

<a href="/cuestionarios/pendientes">
    <div class="btn-std w-250 m-a pad-10-0 <%= examStatus == 'not-passed' ? 'mt-75' : 'mt-100' %>">Volver al menú</div>
</a>

<% if (examStatus == 'not-passed') { %>
    
    <a href="/cuestionarios/rehacer">
        <div class="btn-std w-250 m-a mt-15 pad-10-0">Rehacer examen</div>
    </a>
    
    <a href="/cuestionarios/ver-respuestas">
        <div class="btn-std w-250 m-a mt-15 pad-10-0">Ver examen</div>
    </a>

<% } %>

<a href="/cuestionarios">
    <div class="btn-std w-250 m-a pad-10-0 mt-15">Salir</div>
</a>







