<%- include('../../partials/head') %>
<%- include('../../partials/header') %>

<div class="fs-19 fw-b mt-30 flex-r ai-c jc-c"><%= examName.toUpperCase() %></div>
<div class="fs-17 mt-15 mb-30 flex-r ai-c jc-c">Tus respuestas:</div>

<div class="answers">
    <% questionData.forEach(d => { %>
        <div class="answer">
            
            <!--- question --->
            <div class="fw-b"><%= d.question_number + '. ' + d.question %></div>
            
            <!--- images --->
            <% if (d.question_image != '') { %>
                <div class="answer-image-box">
                    <img src="/images/examsImages/<%= d.question_image %>" alt="FEVB" class="answer-image">
                </div>                
            <% } %>

            <!--- option --->
            <% d.question_options.forEach(o => { %>
                <div class="answer-box <%= o.selected ? o.boxCss : '' %>">
                    <div class="flex-r cg-3 ai-c">
                        <input type="radio" <%= o.selected ? 'checked' : '' %> disabled>
                        <label ><%= o.option_reference + '. ' + o.option_text %></label>
                        <div class="fs-15 fc-green ml-5 <%= o.checkCss %>"><i class="fa-solid fa-check"></i></div>
                        <div class="fs-13 fc-error ml-5 <%= o.errorCss %>"><i class="fa-solid fa-x"></i></div>
                    </div>
                </div>
            <% }) %>
        </div>
    
    <% }) %>

</div>

