<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div class="main-title"><%= title.toUpperCase() %></div>

<div class="sch-price"><b><%= 'PRECIO (ARS): ' %></b><%= price.toLocaleString('es-AR',{minimumFractionDigits: 2,maximumFractionDigits: 2}) %></div>

<div class="fs-16 fw-b ta-c mt-25">DATOS PERSONALES</div>

<div class="general-error mt-15 mb-15" id="personalDataError">
    <i class="fa-solid fa-triangle-exclamation"></i>
    <div id="errorText"></div>
</div>

<form action="/inscriptions/set-personal-data" method="POST">

    <div class="inputs-column mt-25">
        <div class="div-input">
            <label class="label-std">Nombre y apellido</label>
            <input type="text" id="nameInfo" name="nameInfo" class="input-std w-350 max-w-90p pad-14-0-10-0" autocomplete="off">
        </div>
        <div class="div-input mt-20">
            <label class="label-std">CUIT - Sin espacios ni guiones</label>
            <input type="number" id="cuit" name="cuit" class="input-std w-350 max-w-90p pad-14-0-10-0" autocomplete="off">
        </div>
        <div class="div-input mt-20">
            <label class="label-std">Email</label>
            <input type="text" id="email" name="email" class="input-std w-350 max-w-90p pad-14-0-10-0" autocomplete="off">
        </div>
        <div class="div-input mt-20">
            <label class="label-std">Teléfono - Sin espacios ni guiones</label>
            <input type="number" id="phone" name="phone" class="input-std w-350 max-w-90p pad-14-0-10-0" autocomplete="off">
        </div>
    </div>

    <div class="buttons-column mt-30 mb-25">
        <button type="submit" id="continueButton" class="btn-std w-320 max-w-90p pad-11-0">
            CONTINUAR
        </button>

        <button type="button" id="backButton" class="btn-std w-320 max-w-90p pad-11-0" onclick="history.back()">
            ATRÁS
        </button>
    </div>

</form>

<!-- loader -->
<div class="loader ld-std" id="loader">
    <div class="ld-content lt-m"></div>
</div>

<!----------SCRIPTS---------->
<script type="module" src="/js/inscriptions/personalData.js?v=<%= Date.now() %>"></script>


<!--- existing cuit popup (ecpp) --->
<div class="popup pp-std" id="ecpp">

    <div class="pp-content w-670 max-w-90p max-h-50 top-120" id="ecppContent">

        <div class="pp-close" id="ecppClose">
            <div class="pp-close-icon">x</div>
        </div>

        <div class="pd-alert mt-30">
            <i class="fa-solid fa-triangle-exclamation"></i>
            <div id="ecppCuit"></div>            
        </div>

        <div class="ta-c mt-25 pd-data"><b>DETALLE DE LA INSCRIPCIÓN</b></div>
        <div id="ecppInfo">
            <div class="ta-c mt-5 pd-data"></div>
            <div class="ta-c mt-5 pd-data"></div>
        </div>
        
        <div class="ta-c mt-15 pd-data"><b>ESTADO</b></div>
        <div class="ta-c mt-5 pd-data">Confirmada</div>

        <div class="ta-c mt-15 pd-data"><b>Si desea modificar su reserva comuníquese por WhatsApp al +54 299 4209290</b></div>

        <div class="buttons-row mt-30 mb-15">
            <div id="ecppCancel" class="btn-std w-150 pad-9-0">Aceptar</div>
        </div>

    </div>
</div>












