<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div class="main-title">FECHA DE CURSADA</div>

<div class="general-error mt-15- mb-15" id="scheduleError">
    <i class="fa-solid fa-triangle-exclamation"></i>
    Debe seleccionar una fecha de inicio para continuar
</div>

<div class="mb-25 schedule-data">
    <% selection.forEach(s => { %>
        <div class="ta-c mb-5"><b><%= s.type.toUpperCase() + ': ' %></b><%= s.categories %></div>     
    <% }) %>
    <div class="ta-c mt-15"><b><%= 'PRECIO (ARS): ' %></b><%= price.toLocaleString('es-AR',{minimumFractionDigits: 2,maximumFractionDigits: 2}) %></div>
</div>

<form action="/professional-licences/set-schedule" method="POST">

    <div class="subtitle mb-15">Seleccione una fecha de inicio:</div>

    <div class="inputs-column">
        <div class="div-input">
            <select  class="input-std w-350 max-w-90p pad-12-0 schedule-data" name="selectDate" id="startDate">
                <option value="">--- Seleccione una opción --- </option>
                <% flatOptions.forEach(element => { %>
                    <option value="<%= element.id %>"><%= element.start_date %></option>
                <% }) %>
            </select>
        </div>
    </div>

    <div class="w-700 max-w-90p m-a mt-35 ta-c schedule-data">
        <div class="mb-25 ta-c"><b>HORARIO DE CURSADA</b></div>
        <div class="mb-20" id="selectedDates"><b>TEÓRICO: </b>Seleccione una fecha de inicio para definir los horarios de cursada del Teórico</div>
        <div><b>PRÁCTICO: </b>El horario de la Práctica será coordinado con el instructor</div>
    </div>

    <div class="buttons-column mt-50 mb-25">
        <button type="submit" id="continueButton" class="btn-std w-350 max-w-90p pad-11-0">
            CONTINUAR
        </button>

        <button type="button" id="backButton" class="btn-std w-350 max-w-90p pad-11-0" onclick="history.back()">
            ATRÁS
        </button>
    </div>

</form>

<!-- loader -->
<div class="loader ld-std" id="loader">
    <div class="ld-content lt-m"></div>
</div>

<!----------SCRIPTS---------->
<script type="module" src="/js/professionalLicences/schedule.js?v=<%= Date.now() %>"></script>














