<%- include('../../partials/head') %>
<%- include('../../partials/header') %>

<%- include('../../partials/backToMenu') %>

<div class="fs-19 fw-b mt-25 mb-35 ta-c">EXÁMENES</div>

<div class="inputs-row mb-5">
    <div class="div-input">
        <label class="label-std">Alumno</label>
        <input type="text" class="input-std w-250 pad-8-0 fs-13" id="student">
    </div>
    <div class="div-input">
        <label class="label-std">CUIT/CUIL/DNI</label>
        <input type="number" class="input-std w-130 pad-8-0 fs-13" id="cuitCuil">
    </div>
    <div class="div-input">
        <label class="label-std">Status REPRE</label>
        <select class="input-std w-130 pad-8-0 fs-13" id="repre">
            <option value=""></option>
            <option value="enabled">Habilitado</option>
            <option value="disabled">Deshabilitado</option>
            <option value="uploaded">Subido</option>
            
        </select>
    </div>
    <div id="unfilter" class="unfilter">
        <i class="fa-solid fa-filter-circle-xmark"></i>
        <div class="unfilter-info">Quitar filtros</div>
    </div>        
</div>

<!--- main table --->
<div class="flex-r mb-10 jc-fe w-95p"><div class="fs-13 pt-5 pb-5 btn-std w-120" id="downloadRepre">Descargar REPRE</div></div>

<div class="div-table table-450" id="table">

    <!--- table data --->
    <table>
        <thead class="fs-13">
            <th class="th pad-6-0 w-70">ID</th>
            <th class="th pad-6-0 w-100">CUIT/CUIL</th>
            <th class="th pad-6-0 w-300">NOMBRE Y APELLIDO</th>
            <th class="th pad-6-0 w-80">CURSO</th>
            <th class="th pad-6-0 w-80">SEMANA</th>
            <th class="th pad-6-0 w-100">TEÓRICO</th>
            <th class="th pad-6-0 w-80">ESTADO TEÓRICO</th>
            <th class="th pad-6-0 w-80">FECHA TEÓRICO</th>
            <th class="th pad-6-0 w-100">PRÁCTICO</th>
            <th class="th pad-6-0 w-100">ESTADO PRÁCTICO</th>
            <th class="th pad-6-0 w-80">FECHA PRÁCTICO</th>            
            <th class="th pad-6-0 w-150">ESTADO</th>
            <th class="th pad-3-0 w-80">
                <div class="flex-c cg-5 ai-c jc-c">
                    <div>REPRE</div>
                </div>
            </th>
            
        </thead>
        <tbody class=" body fs-12 body-std" id="body"></tbody>
    </table>
</div>

<!-- loader -->
<div class="loader ld-std" id="loader">
    <div class="ld-content lt-l"></div>
</div>

<!----------POPUPS---------->
<%- include('./examsDRPP') %>
<%- include('./examsARPP') %>
<%- include('../../partials/confirmPopup') %>

<!----------SCRIPTS---------->
<script type="module" src="/js/admin/exams/exams.js?v=<%= Date.now() %>"></script>

