<%- include('../../partials/head') %>
<%- include('../../partials/header') %>

<div class="fs-19 fw-b mt-25 mb-35 ta-c">CURSOS ASINCRÓNICOS - INSCRIPCIONES</div>

<div class="inputs-row mb-25">
    <div class="div-input">
        <label class="label-std">Comisión</label>
        <input type="text" class="input-std w-130 pad-8-0 fs-13" id="commission">
    </div>
    <div class="div-input">
        <label class="label-std">Empresa</label>
        <input type="text" class="input-std w-250 pad-8-0 fs-13" id="company">
    </div>
    <div class="div-input">
        <label class="label-std">Alumno</label>
        <input type="text" class="input-std w-250 pad-8-0 fs-13" id="student">
    </div>
    <div class="div-input">
        <label class="label-std">CUIT/CUIL</label>
        <input type="number" class="input-std w-130 pad-8-0 fs-13" id="cuitCuil">
    </div>
    <div class="div-input">
        <label class="label-std">Pago</label>
        <select class="input-std w-130 pad-8-0 fs-13" id="paymentStatus">
            <option value=""></option>
            <option value="complete">Pagado</option>
            <option value="incomplete">Pendiente</option>
            
        </select>
    </div>
    <div class="div-input">
        <label class="label-std">Estado</label>
        <select class="input-std w-130 pad-8-0 fs-13" id="status">
            <option value=""></option>
            <option value="complete">Pagado</option>
            <option value="incomplete">Pendiente</option>
            
        </select>
    </div>
    <div id="unfilter" class="unfilter">
        <i class="fa-solid fa-filter-circle-xmark"></i>
        <div class="unfilter-info">Quitar filtros</div>
    </div>        
</div>

<!--- main table --->
<div class="div-table table-450" id="table">

    <!-- table tooltip -->
    <div class="t-tooltip" id="esppInfo">Editar</div>
    <div class="t-tooltip" id="dsppInfo">Eliminar</div>    

    <!--- table data --->
    <table>
        <thead class="fs-13">
            <th class="th pad-6-0 w-90">CURSO</th>
            <th class="th pad-6-0 w-100">COMISIÓN</th>
            <th class="th pad-6-0 w-150">EMPRESA</th>
            <th class="th pad-6-0 w-100">CUIT/CUIL</th>
            <th class="th pad-6-0 w-300">NOMBRE Y APELLIDO</th>            
            <th class="th pad-6-0 w-130">INSCRIPCIÓN</th>
            <th class="th pad-6-0 w-100">PRECIO</th>
            <th class="th pad-6-0 w-100">ESTADO</th>
            <th class="th pad-6-0 w-80">PAGADO</th>
            <th class="th pad-3-0 w-50">
                <i class="fa-regular fa-pen-to-square pointer" id="esppIcon"></i>
            </th>
            <th class="th pad-3-0 w-50">
                <i class="fa-regular fa-trash-can pointer" id="dsppIcon"></i>
            </th>
        </thead>
        <tbody class=" body fs-13 body-std" id="body"></tbody>
    </table>
</div>

<!-- loader -->
<div class="loader ld-std" id="loader">
    <div class="ld-content lt-l"></div>
</div>

<!--- popups --->
<%- include('../../partials/confirmPopup') %>
<%- include('../../partials/resultsPopups') %>

<!----------SCRIPTS---------->
<script type="module" src="/js/admin/asyncStudents/asyncStudents.js?v=<%= Date.now() %>"></script>

