<%- include('../../partials/head') %>
<%- include('../../partials/header') %>
<%- include('../../partials/backToMenu') %>

<div class="fs-19 fw-b mt-25--10 mb-35-20 ta-c">EXÁMENES PENDIENTES</div>

<div class="inputs-row mb-25">
    <div class="div-input">
        <label class="label-std">Examen</label>
        <select class="input-std w-150 pad-8-0" id="exam">
            <option value=""></option>
            <% exams.forEach(exam => { %>
                <option value="<%= exam.id %>"><%= exam.exam_alias %></option>
            <% }) %>
        </select>
    </div>
    <div class="div-input">
        <label class="label-std">Alumno</label>
        <input type="text" class="input-std w-250 pad-8-0" id="studentName">
    </div>
    <div class="div-input">
        <label class="label-std">CUIT/CUIL</label>
        <input type="number" class="input-std w-120 pad-8-0" id="cuitCuil">
    </div>
    <div id="unfilter" class="unfilter">
        <i class="fa-solid fa-filter-circle-xmark"></i>
        <div class="unfilter-info">Quitar filtros</div>
    </div>        
</div>

<div class="pending-practicals" id="pendingPracticals"></div>

<!-- loader -->
<div class="loader ld-std" id="loader">
    <div class="ld-content lt-l"></div>
</div>

<!----------SCRIPTS---------->
<script type="module" src="/js/exams/practicals/pendingExams/pendingExams.js?v=<%= Date.now() %>"></script>

